.about-page {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f8f8f8;
}

.about-purpose {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto 3rem auto;
}

.purpose-image {
  width: 500px;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
  margin-left: 1rem;
}

.purpose-text {
  flex: 1;
  max-width: 600px;
  text-align: left;
}

.purpose-text h2 {
  font-size: 2.8rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
}

.purpose-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #333;
}

.team-title {
    font-size: 2.5rem;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;
}

.image-credit-about {
  font-size: 0.8rem;
  color: #555;
  margin-top: 0.4rem;
  margin-right: 0.5rem;
}

.image-credit-about a {
  color: #555;
  text-decoration: none;
}

.image-credit-about a:hover,
.image-credit-about a:focus {
  text-decoration: underline;
  background: none;
  outline: none;
}


/* Responsive tweak */
@media (max-width: 768px) {
  .about-purpose {
    flex-direction: column;
    text-align: center;
  }

  .purpose-text {
    text-align: center;
  }
}
