.new-user {
    position: relative;
    top: 75px;
    left: 120px;
    
    font-size: 3rem;
    font-weight: bold;
}

.new-subtext {
    position: relative;
    top: 80px;
    left: 250px;
}

.names-flex {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    left: 802px;
    gap: 192px;
    text-align: left;
}

.names-text-flex {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    left: 800px;
    gap: 70px;
}

.select-flex {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 60px;
    left: 800px;
    gap: 70px;
}

.select-text-flex {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 60px;
    left: 802px;
    gap: 210px;
}

.text-input-flex{
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-flex{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 90px;
    left: 800px;
    gap: 30px;
    text-align: left;
}

.button {
    background-color: black;
    color: white;
    text-decoration: none;
    position: relative;
    cursor: pointer;

    border-radius: 5px;
    height: 35px;
    width: 150px;
}

.next-button {
    top: 180px;
    left: 967px;
}

.upload-button {
    top: 0px;
    right: 400px;
}

.textbox {
    position: relative;  
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

.textbox-long {
    position: relative;
    height: 30px;
    width: 470px;
    border-radius: 5px;
}

.selectbox {
    position: relative;
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

.image-position {
    position: relative;
    height: 200x;
    width: 200px;

    bottom: 200px;
    left: 267px;
}

.image-circle {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: calc(infinity * 1px);

    bottom: 200px;
    left: 267px;
}

.edit-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: transparent;
    border: none !important;
    cursor: pointer;

    bottom: 255px;
    left: 400px;
}