.congrats {
    position: relative;
    top: 210px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    gap: 0px;
}

.caption {
    position: relative;
    top: 210px;
    text-align: center;
    font-size: 1.5em;
    gap: 0px;
}

.bear {
    position: relative;
    top: 210px;
    text-align: center;
    font-size: 4em;
    gap: 0px;
}

.done{
    position: relative;
    width: 125px;
    height: 40px;
    top: 275px;
    left: 672px;

    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
}
