.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

.welcome {
    position: relative;
    top: 25px;
    text-align: center;

    font-size: 3rem;
    font-weight: bold;
}

.welcome-subtext {
    position: relative;
    top: 25px;
    text-align: center;

    font-size: 1rem;
}

.enter-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4rem;
}


.enter-input-flex {
    display: flex;
    flex-direction: column;
}

.textbox {
    position: relative;
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

.label {
    font-size: 1.2rem;
}

.login-button {
  margin-top: 2rem;
  height: 35px;
  width: 150px;
  background-color: #f4a72c;
  color: black;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.new {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  color: darkgrey;
  text-align: center;
}