.interest {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.interest-caption {
    position: relative;
    top: 50px;
    text-align: center;
}

.to-finish{
    background-color: black;
    color: white;
    position: relative;
    cursor: pointer;

    width: 150px;
    top: 450px;
    left: 665px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    top: 125px;
    gap: 30px;
}

.container1 {
    position: relative;
    display: flex;

    gap: 30px;
}

.container2 {
    position: relative;
    display: flex;

    gap: 30px;
}

.container3 {
    position: relative;
    display: flex;

    gap: 30px;
}

.interest-button {
    position: relative;
    height: 35px;

    font-size: 1rem;
    border-radius: 5px;
}

.one {
    width: 175px;
}

.two {
    width: 120px;
}

.three {
    width: 175px;
}

.not-looking-for {
    background-color: black;
    color: white;
}

.looking-for {
    background-color: #f4a72c;
    color: black;
}